aiohttp-cors==0.7.0
aiohttp-jinja2==1.5
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
asyncpg==0.25.0
attrs==21.4.0
charset-normalizer==2.0.10
frozenlist==1.2.0
idna==3.3
Jinja2==3.0.3
MarkupSafe==2.0.1
multidict==5.2.0
pip==21.3.1
python-dotenv==0.19.2
setuptools==60.5.0
yarl==1.7.2
